@use "core";
@use "mobile";
@use "animation";

%button-icon {
	cursor: pointer;
	background-color: var(--colour-accent);
	border: 1px solid var(--colour-accent);
	margin: 0.1rem 0.5rem;
	transition: {
		property: color, background-color;
		duration: animation.$transition-short;
		timing-function: ease-in-out;
	}

	border-radius: 0.5rem;
	font-size: 1.2rem;
	box-shadow: var(--card-shadow);
	color: var(--colour-background-1);

	&:disabled {
		cursor: default;
		background-color: var(--colour-accent-faded);
	}

	&:hover,
	&:focus {
		outline-offset: 0.3rem;
		background-color: var(--colour-background-1);
		color: var(--colour-accent);
		&:disabled {
			background-color: var(--colour-accent-faded);
		}
	}
	@media (max-width: mobile.$width) {
		&:not(.fix) {
			aspect-ratio: 1;
			border-radius: 50%;
			font-size: 1.4rem;
		}
	}
}

%button {
	@extend %button-icon, %flex-row, %flex-centre;
	padding: 0.2rem 0.8rem;

	#slot {
		margin: 0 0.2rem;
		font-weight: bold;
	}
	@media (max-width: mobile.$width) {
		&:not(.fix) #slot {
			display: none;
		}
	}
}
