@use "sass:color";

$accent: #ffb53c;
$mid-grey: #a6acbe;

$text-light: #000;
$text-light-faded: #555;
$text-dark: #eee;
$text-dark-faded: rgba(221, 221, 221, 0.651);

$accent-faded: hsl(37, 100%, 88%, 0.4);

$background-1-light: #eee;
$background-1-dark: #080808;

$background-2-light: color.adjust($background-1-light, $lightness: -10%);
$background-2-dark: color.adjust($background-1-dark, $lightness: 10%);

$background-3-light: color.adjust($background-2-light, $lightness: 5%);
$background-3-dark: color.adjust($background-2-dark, $lightness: -5%);
