%link {
	color: var(--colour-text);
	text-decoration: underline var(--colour-accent);
	transition: {
		property: color, text-decoration;
		duration: 0.1s;
		timing-function: ease-in-out;
	}
	&:hover,
	&:focus,
	&:active {
		color: var(--colour-accent);
		text-decoration-color: var(--colour-text);
	}
}

%flex {
	display: flex;
	flex-wrap: wrap;
	&-col {
		@extend %flex;
		flex-direction: column;
	}
	&-row {
		@extend %flex;
		flex-direction: row;
	}
	&-centre {
		align-content: center;
		align-items: center;
		justify-content: center;
	}
}

%centre {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

%input {
	--input-border-colour: var(--colour-accent);
	--input-background: var(--colour-accent);

	color: var(--colour-text);
	border: 2px solid var(--input-border-colour);
	border-radius: 0.5rem;
	background-color: var(--input-background);
	padding: 0.5rem;
}

%card {
	background: var(--colour-background-2);
	border-radius: var(--card-radius);
	padding: 1rem 1.5rem;
	margin: 1.5rem auto;
	&-small {
		@extend %card;
		background: var(--colour-accent-faded);
		padding: 0.5rem 1rem;
		margin: 0 auto;
	}
}

/* kanban card top border colour (if not overwritten, defaults to colour-accent) */
.rag-band {
	border-top: 0.25rem solid var(--colour-card-highlight, var(--colour-accent));
}

/* RAG colours */
$rag-colours: ("red", "amber", "green");
@each $name in $rag-colours {
	[data-rag="#{$name}"] {
		--colour-card-highlight: var(--colour-#{$name});
	}
}

// button that only displays content
.content-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	height: fit-content;
	&:hover {
		cursor: pointer;
	}
}

%profile-picture {
	aspect-ratio: 1;
	border-radius: 50%;
}
