@use "theme";
@mixin link {
	transition: {
		property: text-shadow;
		duration: 0.2s;
		timing-function: ease-in-out;
	}
	&:hover {
		$shadow: 0 0 5px #eee;
		text-shadow: $shadow, $shadow, $shadow, $shadow;
	}
}

%flex {
	display: flex;
	flex-wrap: wrap;
	&-col {
		@extend %flex;
		flex-direction: column;
	}
	&-row {
		@extend %flex;
		flex-direction: row;
	}
	&-centre {
		align-content: center;
		align-items: center;
		justify-content: center;
	}
}

%centre {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

%input {
	--input-border-colour: var(--colour-accent);
	--input-background: var(--colour-accent);

	color: var(--colour-text);
	border: 2px solid var(--input-border-colour);
	border-radius: 0.5rem;
	background-color: var(--input-background);
	padding: 0.5rem;
}

* {
	box-sizing: border-box;
}

.card {
	background: var(--colour-background-2);
	border-radius: var(--card-radius);
	padding: 1rem 1.5rem;
}

.card-small {
	background: var(--colour-accent-faded);
	border-radius: var(--card-radius);
	padding: 0.5rem 1rem;
}

/* kanban card top border colour (if not overwritten, defaults to colour-accent) */
.rag-band {
	border-top: 0.25rem solid var(--colour-card-highlight, var(--colour-accent));
}

/* RAG colours */
[data-rag="red"] {
	--colour-card-highlight: var(--colour-red);
}

[data-rag="amber"] {
	--colour-card-highlight: var(--colour-amber);
}

[data-rag="green"] {
	--colour-card-highlight: var(--colour-green);
}

// button that only displays content
.content-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	height: fit-content;
	&:hover {
		cursor: pointer;
	}
}
