@use "colour";

// Hosted fonts (woff2 is more compressed, woff has slightly better browser support)
// Only font files requested by the browser will be downloaded
@font-face {
	font-family: "Roboto";
	font-weight: normal; // 400
	src: url("./fonts/roboto-regular-webfont.woff2") format("woff2"),
		url("./fonts/roboto-regular-webfont.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-weight: 600;
	src: url("./fonts/roboto-medium-webfont.woff2") format("woff2"),
		url("./fonts/roboto-medium-webfont.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-weight: bold; // 700
	src: url("./fonts/roboto-bold-webfont.woff2") format("woff2"),
		url("./fonts/roboto-bold-webfont.woff") format("woff");
}
@font-face {
	font-family: "Roboto";
	font-weight: 800;
	src: url("./fonts/roboto-black-webfont.woff2") format("woff2"),
		url("./fonts/roboto-black-webfont.woff") format("woff");
}

:root {
	// CSS Colour Variables
	--colour-accent: #{colour.$accent};
	--colour-accent-faded: #{colour.$accent-faded};
	--colour-text: #{colour.$text-light};
	--colour-text-faded: #{colour.$text-light-faded};
	--colour-background-1: #{colour.$background-1-light};
	--colour-background-2: #{colour.$background-2-light};
	--colour-background-3: #{colour.$background-3-light};
	--card-radius: 1.5rem;
	--card-radius-small: 0.8rem;
	--colour-red: #e32020bf;
	--colour-amber: #ff9d30db;
	--colour-green: #43d34a91;
	--colour-highlight: #fff;

	--box-shadow: 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.15);

	@media screen {
		&.theme-dark {
			--colour-text: #{colour.$text-dark};
			--colour-text-faded: #{colour.$text-dark-faded};
			--colour-background-1: #{colour.$background-1-dark};
			--colour-background-2: #{colour.$background-2-dark};
			--colour-background-3: #{colour.$background-3-dark};
			--colour-highlight: #1d1d1d;
			color-scheme: dark;
		}
	}

	font-family: Roboto, sans-serif;

	background-color: var(--colour-background-1);
	color: var(--colour-text);
}
